<ion-view>
    <ion-content>
        <ion-slide-box id="banner" does-continue="true" auto-play="true" style="height:128px">
            <ion-slide>
                <a href="#"><img ng-src="img/T003R720x288M0000009DE8x2fTDuA.jpg" alt=""></a>
            </ion-slide>
            <ion-slide>
                <a href="#"><img ng-src="img/T003R720x288M000003Ckh8U0EKoqq.jpg" alt=""></a>
            </ion-slide>
            <ion-slide>
                <a href="#"><img ng-src="img/T003R720x288M000001k51P90qEY57.jpg" alt=""></a>
            </ion-slide>
        </ion-slide-box>
        <div class="radio">
            <h4 class="padding-left">电台</h4>
            <div class="row">
                <div class="col">
                    <img src="img/track_radio_199_13_1.jpg" alt="">
                    <p class="padding-left">热歌</p>
                </div>
                <div class="col">
                    <img src="img/track_radio_307_13_1.jpg" alt="">
                    <p class="padding-left">一人一首招牌歌</p>
                </div>
            </div>
        </div>
        <div class="hotlist">
            <h4 class="padding-left">热门歌单</h4>
            <div class="row">
                <div class="col">
                    <img src="img/300.jpg" alt="">
                    <p class="padding-left">热歌</p>
                </div>
                <div class="col">
                    <img src="img/img01.jpg" alt="">
                    <p class="padding-left">韩语/拥抱了整个冬天</p>
                    <p class="padding-left">孩童</p>
                </div>
                <div class="col">
                    <img src="img/img02.jpg" alt="">
                    <p class="padding-left">热歌</p>
                </div>
                <div class="col">
                    <img src="img/img03.jpg" alt="">
                    <p class="padding-left">一人一首招牌歌</p>
                </div>
                <div class="col">
                    <img src="img/img04.jpg" alt="">
                    <p class="padding-left">热歌</p>
                </div>
                <div class="col">
                    <img src="img/img05.jpg" alt="">
                    <p class="padding-left">一人一首招牌歌</p>
                </div>
            </div>
        </div>
        <!--<div>-->
            <!--<h4 class="padding-left">热门歌单</h4>-->
            <!--<div id="hot" class="row">-->
                <!--<div class="col"><img src="img/300.jpg" alt=""></div>-->
                <!--<div class="col"><img src="img/300.jpg" alt=""></div>-->
                <!--<div class="col"><img src="img/300.jpg" alt=""></div>-->
                <!--<div class="col"><img src="img/300.jpg" alt=""></div>-->
                <!--<div class="col"><img src="img/T005R600x600M000003EqVFT2a7qXe.jpg" alt=""></div>-->
                <!--<div class="col"><img src="img/300.jpg" alt=""></div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col">-->
                    <!--<img src="img/track_radio_199_13_1.jpg" alt="">-->
                    <!--<p class="padding-left">热歌</p>-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--<img src="img/track_radio_307_13_1.jpg" alt="">-->
                    <!--<p class="padding-left">一人一首招牌歌</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <p class="list_more">
            <a href="javascript:;">去客户端发现更多好音乐 &gt;</a>
        </p>
        <div class="version_tab">
            <a data-tjname="go_pc" href="http://y.qq.com/?ADTAG=myqq&amp;nomobile=1#type=index">查看电脑版网页</a>
        </div>
        <div class="footer_logo">QQ音乐</div>
        <p class="copyright">Copyright © 1998 - <span id="js_cpright_year">2016</span> Tencent. All Rights Reserved.</p>
    </ion-content>

</ion-view>