<ion-view>
    <ion-content>
        <!--<ul class="list">-->
            <!--<li class="item">-->
        <div class="list">
            <a class="item item-thumbnail-left" href="#/list/{{subject26.listid}}">
                <img src="img/toplist_26_300_102636799.jpg" alt="">
                <h2>热歌</h2>
                <p>1  <span style="color:#000">{{subject26.pagebean.songlist[0].songname}}</span> - {{subject26.pagebean.songlist[0].singername}}</p>
                <p>2  <span style="color:#000">{{subject26.pagebean.songlist[1].songname}}</span> - {{subject26.pagebean.songlist[1].singername}}</p>
                <p>3  <span style="color:#000">{{subject26.pagebean.songlist[2].songname}}</span> - {{subject26.pagebean.songlist[2].singername}}</p>
            </a>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/list/{{subject3.listid}}">
                <img src="img/toplist_3_300_109364695.jpg" alt="">
                <h2>欧美</h2>
                <p>1  <span style="color:#000">{{subject3.pagebean.songlist[0].songname}}</span> - {{subject3.pagebean.songlist[0].singername}}</p>
                <p>2  <span style="color:#000">{{subject3.pagebean.songlist[1].songname}}</span> - {{subject3.pagebean.songlist[1].singername}}</p>
                <p>3  <span style="color:#000">{{subject3.pagebean.songlist[2].songname}}</span> - {{subject3.pagebean.songlist[2].singername}}</p>
            </a>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/list/{{subject5.listid}}">
                <img src="img/toplist_5_300_109566128.jpg" alt="">
                <h2>内地</h2>
                <p>1  <span style="color:#000">{{subject5.pagebean.songlist[0].songname}}</span> - {{subject5.pagebean.songlist[0].singername}}</p>
                <p>2  <span style="color:#000">{{subject5.pagebean.songlist[1].songname}}</span> - {{subject5.pagebean.songlist[1].singername}}</p>
                <p>3  <span style="color:#000">{{subject5.pagebean.songlist[2].songname}}</span> - {{subject5.pagebean.songlist[2].singername}}</p>
            </a>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/list/{{subject6.listid}}">
                <img src="img/toplist_6_300_109716325.jpg" alt="">
                <h2>港台</h2>
                <p>1  <span style="color:#000">{{subject6.pagebean.songlist[0].songname}}</span> - {{subject6.pagebean.songlist[0].singername}}</p>
                <p>2  <span style="color:#000">{{subject6.pagebean.songlist[1].songname}}</span> - {{subject6.pagebean.songlist[1].singername}}</p>
                <p>3  <span style="color:#000">{{subject6.pagebean.songlist[2].songname}}</span> - {{subject6.pagebean.songlist[2].singername}}</p>
            </a>
        </div>

            <!--</li>-->
        <!--</ul>-->
    </ion-content>
</ion-view>